* {
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
        user-select: none;
        -webkit-user-select: none;
}

body {
    background-image: url(https://static.vecteezy.com/system/resources/previews/003/334/911/non_2x/desktop-source-code-and-wallpaper-by-coding-and-programming-free-photo.jpg);
    background-position: center;
    background-repeat: no-repeat;

    background-color: rgb(209, 209, 209);
    background-blend-mode: soft-light;
}

h2,
h3 {
    text-align: center;
    padding-top: 40px;
}

p {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
}
ul{
    margin-top: 30px;
}

li{
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

footer {
    position: fixed;
    bottom: 0px;
    margin-left: 480px;
}
img{
    border-radius: 10px;
}
.barraNavegacion {
    position: fixed;
    width: 100%;
    height: 4%;
    background-color: rgb(67, 147, 238);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cajaImagenes {
    margin-top: 20px;
    display: grid;
    justify-content: center;
}
.cajaUsos{
    list-style: none;
    display: grid;
    grid-template-columns: 33% 33% 34%;
}
.pregunta{
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 40px;
    font-size: 30px;
}
.respuestaPregunta{
    margin-bottom: 20px;
}
.fotos{
    margin-top: 10px;
    width: 250px;
}