<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Css/general.css">
    <title>BACK-END</title>
</head>

<body>
    <div class="barraNavegacion">
        <a href="./fullStack.html">FULL-STACK</a>
        <a href="./frontEnd.html">FRONT-END</a>
        <a href="usos.html">USOS</a>
    </div>
    <div>
        <h2>BACK-END</h2>
        <p>El "back-end" o "backend" se refiere a la parte de un sistema informático, aplicación o sitio web que se
            encarga del procesamiento y almacenamiento de datos, así como de la lógica y la funcionalidad que no son
            visibles para los usuarios finales. Es la parte del sistema que se ejecuta en el servidor y se encarga de
            gestionar la lógica empresarial, la base de datos y la comunicación con el front-end.
<br/>
            El back-end generalmente se compone de un conjunto de tecnologías, frameworks y lenguajes de programación
            que permiten construir y gestionar la infraestructura necesaria para la funcionalidad del sistema. Algunas
            de las tecnologías comunes utilizadas en el desarrollo back-end incluyen:</p>
        <ul>
            <li> Lenguajes de programación como Java, Python, PHP, Ruby, C#, entre otros.
            </li>
            <li> Frameworks y librerías como Django, Ruby on Rails, Laravel, Flask, Spring, Express, ASP.NET, entre
                otros.
            </li>
            <li> Sistemas de gestión de bases de datos como MySQL, PostgreSQL, Oracle, MongoDB, entre otros.
            </li>
            <li> Servidores web como Apache, Nginx.
            </li>
        </ul>
        <p>El back-end se encarga de manejar las solicitudes del front-end, procesar la lógica empresarial, acceder y
            manipular datos en la base de datos, generar respuestas y enviarlas al front-end para su presentación al
            usuario. Además, también se ocupa de aspectos de seguridad, escalabilidad y rendimiento del sistema.</p> 
    </div>
    <div class="cajaImagenes">
        <img src="../Images/backEnd.webp" alt="">
    </div>
</body>
<footer>
    &copy; 2023 Daniel Camilo Parada Pardo - All rights reserved.
</footer>

</html>