<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Css/general.css">
    <title>FRONT-END</title>
</head>

<body>
    <div class="barraNavegacion">
        <a href="./fullStack.html">FULL-STACK</a>
        <a href="./backEnd.html">BACK-END</a>
        <a href="ventajas.html">VENTAJAS</a>
    </div>
    <div>
        <h2>FRONT-END</h2>
        <p>El "front-end" o "frontend" se refiere a la parte de un sitio web, aplicación o software que los usuarios
            ven y con la que interactúan directamente. Es la cara visible de un producto digital y abarca todo lo
            que se muestra en el navegador o la interfaz del usuario. El front-end es la interfaz que permite a los
            usuarios realizar acciones, navegar por el contenido, enviar datos y recibir respuestas.
            <BR />
            El front-end se construye principalmente utilizando tecnologías web como HTML (HyperText Markup
            Language) para estructurar el contenido, CSS (Cascading Style Sheets) para definir el diseño y el
            aspecto visual, y JavaScript para agregar interactividad y funcionalidad dinámica.
        </p>

    </div>
    <div class="cajaImagenes">
        <img src="../Images/frontEnd.jpg" alt="">
    </div>
</body>
<footer>
    &copy; 2023 Daniel Camilo Parada Pardo - All rights reserved.
</footer>

</html>