<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Css/general.css">
    <title>Generation Colombia</title>
</head>

<body>
    <div class="barraNavegacion">
        <a href="./frontEnd.html">FRONT-END</a>
        <a href="./backEnd.html">BACK-END</a>
        <a href="usos.html">USOS</a>
    </div>
    <div>
        <h2>FULL STACK</h2>
        <p>
            "Full stack" se refiere a la habilidad o capacidad de trabajar en todos los aspectos de desarrollo de
            software, tanto en el lado del cliente (front-end) como en el lado del servidor (back-end). Un desarrollador
            full stack tiene conocimientos y experiencia tanto en la parte visual y funcional de una aplicación web o
            móvil, como en la configuración y gestión de servidores y bases de datos.</p>
        <p>En resumen, un desarrollador full stack es capaz de trabajar en todas las capas de una aplicación, desde la
            interfaz de usuario hasta la gestión de servidores y bases de datos. Esto les permite tener una visión
            completa del desarrollo de software y la capacidad de crear aplicaciones completas y funcionales de
            principio a fin.</p>

    </div>
    <div class="cajaImagenes">
        <img src="../Images/frontBack.jpg" alt="">
    </div>

</body>
<footer>
    &copy; 2023 Daniel Camilo Parada Pardo - All rights reserved.
</footer>

</html>