<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Css/Index.css">
    <title>Daniel Parada</title>
</head>
<body>
    <div class="entrada">
        <h1>DANIEL CAMILO PARADA PARDO</h1>
        <a href="./fullStack.html">ENTRAR</a>
    </div>

</body>
<footer>
    &copy; 2023 Daniel Camilo Parada Pardo - All rights reserved.
</footer>
</html> 