<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Css/general.css">
    <title>VENTAJAS</title>
</head>

<body>
    <div class="barraNavegacion">
        <a href="./fullStack.html">FULL-STACK</a>
        <a href="./frontEnd.html">FRONT-END</a>
        <a href="./backEnd.html">BACK-END</a>
    </div>
    <div>
        <h2 class="pregunta">¿Como esto puede ayudar a crear algo que coordine los servicios de transporte entre usuarios de los
            diferentes planetas y los conductores espaciales?</h2>
        <ul class="cajaUsos">
            <li>
                <h3 class="respuestaPregunta">Desarrollo de la Plataforma Web: </h3>
                Un desarrollador Full-Stack puede crear la plataforma web o la
                aplicación que permita a los usuarios de diferentes planetas solicitar servicios de transporte y a
                los
                conductores espaciales ofrecer sus servicios. Esto implica la creación de una interfaz de usuario
                amigable (front-end) para que los usuarios realicen sus solicitudes y para que los conductores
                gestionen
                sus servicios.
                <br>
                <img class="fotos" src="../Images/uber.png" alt="">

            </li>
            <li>
                <h3  class="respuestaPregunta">Gestión de Datos y Bases de Datos:</h3>
                El transporte entre planetas involucra una gran cantidad de datos,
                como la ubicación de los usuarios y conductores, las rutas de viaje, los precios y más. Un
                desarrollador
                Full-Stack puede diseñar y administrar la base de datos que almacena todos estos datos de manera
                eficiente.
                <br>
                <img class="fotos" src="../Images/baseDeDatos.png" alt="">

            </li>
            <li>
                <h3  class="respuestaPregunta">Integración de Tecnologías Externas: </h3>
                Coordinar el transporte espacial podría requerir la integración de
                tecnologías externas, como sistemas de navegación espacial, sistemas de pago, etc. Un desarrollador
                Full-Stack puede encargarse de estas integraciones.
                <br>
                <img class="fotos" src="../Images/mercadoPago.jpg" alt="">
            </li>
        </ul>
    </div>
</body>
<footer>
    &copy; 2023 Daniel Camilo Parada Pardo - All rights reserved.
</footer>

</html>